* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.table {
  position: relative;
}

.tableHeading input {
  margin: 10px 20px;
  padding: 7px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
}

.tableItem td {
  padding: 2rem 0;
}

.updateBox {
  background-color: blanchedalmond;
  width: 35%;
  padding: 30px;
  position: absolute;
  border-radius: 5rem;
}

.updateBox button {
  margin: 15px 0;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

form {
  text-align: start;
}

form input {
  margin: 10px 0;
  width: 15rem;
  padding: 6px;
  font-size: 16px;
}

.btn-add {
  padding: 5px;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn-add:hover {
  background-color: rgb(210, 210, 210);
}
